html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Saira Extra Condensed', sans-serif;
}

.navbar {
    position: fixed !important;
    height: 100vh;
    width: 15%;
    background: url("../images/bg.jpg") center / cover no-repeat;
    display: flex;
    flex-flow: column wrap;
    
    align-items: center;
    justify-content: center;
}

.navbar > div {
    background: rgba(255, 255, 255, 0.1);
    padding: 10px 10px;
}

.nav {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
}

.navbar-brand {
    margin: 0 auto;
}

.navbar-brand > img {
    border-radius: 50%;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
}

.nav > a {
    font-weight: 800;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}

.nav > a.active {
    color: #ffffff;
}

.section {
    position: absolute;
    left: 15%;
    width: 85%;
    height: 100vh;
    clip: rect(0, auto, auto, 0);
}

.section > .fixed {
    position: fixed;
    top: 50%;
    left: 18%;
    width: 40%;
    transform: translateY(-50%);
}

.section:nth-child(2) {
    background: #F3FFB6;
    top: 0;
    z-index: 10;
}

.section:nth-child(2) h1 {
    text-transform: uppercase;
    font-weight: 700;
    color: #343a40;
    margin-bottom: 0 !important;
    margin-left: -3px;
}

.section:nth-child(2) h1 > span {
    color: #D1B1CB;
}

.section:nth-child(2) .subheading {
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 3rem !important;
    color: #343a40;
}

.section:nth-child(2) .subheading > a {
    color: #D1B1CB;
}

.section:nth-child(2) p {
    font-size: 1.15rem;
    font-weight: 400;
    margin-bottom: 3rem !important;
    color: #343a40;
}

.section:nth-child(2) .social-icons svg {
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 1.5rem;
}

.section:nth-child(2) .social-icons img {
    width: 6rem;
    height: 6rem;
    margin-right: 1.5rem;
}

.section:nth-child(3) {
    background: #D1B1CB;
    top: 100vh;
    z-index: 20;
}

.section:nth-child(4) {
    background: #ADCAD6;
    top: 200vh;
    z-index: 30;
}

.section:nth-child(5) {
    background: #FF99C9;
    top: 300vh;
    z-index: 40;
}

.section:nth-child(5) h2 {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.2;
    color: #343a40;
    text-transform: uppercase;
    margin-bottom: 3rem !important;
}

.section:nth-child(5) .subheading {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #6c757d;
    margin-bottom: 1rem !important;
}

.section:nth-child(5) ul.dev-icons > li {
    margin-right: 0.5rem;
}

.section:nth-child(5) ul.dev-icons > li > svg {
    width: 36px;
}

.section:nth-child(6) {
    top: 400vh;
    z-index: 50;
}